<!-- <div class="navbar">
    <div class="container">
        <a href="#" class="brand"><img src="/assets/images/jobsage.png" alt="JObsaGe" </a>
            <a href="#" class="brand">jobsage.</a>
            <ul class="nav-links">
                <li class="active"><a href="#hero">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#build">Build</a></li>
                <li><a href="#blog">About us</a></li>
                <li><a href="#contact">Contact us</a></li>
                
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
            </div>
    </div>
</div> -->